/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CONFIGURACIÓN BODY Y HTML*/
html,body{
    height: 100%;
    width: 100%;
}

body{
    background-image: url('https://images.pexels.com/photos/374598/pexels-photo-374598.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*HEADER Y NAV*/
header{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    /* height: 25%; */
    position: absolute;
    width: 100%;
}

header>div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header>div div{
    position: absolute;
    left: 10px;
    top: 5px;
    background-image: url("./pngwing.com.png");
    background-size: cover;
    width: 70px;
    height: 70px;
}

nav{
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: flex-start; /* Opción libre*/
    gap: 150px;
    padding-left: 50px;
    position: relative;
}

.menu>li{
    padding: 10px;
}

.menu>li:hover{
    /* background-color: red; */
}

/* .menu:hover{
    background-color: red;
} */

.submenu{
    position: absolute;
    visibility: hidden;
    list-style: none;
    top: 30px;
}

#mostrar:hover .submenu{
    visibility: visible;
}

/* .menu li:nth-child(3):hover .submenu{
    visibility: visible;
} */

.submenu li:hover{
    background-color: rgba(0, 255, 213, 0.705);
}

/*MAIN*/
main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
   border: rgba(240, 248, 255, 0.514) solid 5px;
}

h2:hover{
    border: rgba(240, 248, 255, 0.514) solid 5px;
    background-color:  rgba(0, 255, 213, 0.705);
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor; /*Por fuera del elemento*/
    fill: currentColor; /*Relleno del elemento*/
}

a{
    text-decoration: none;
    color: black;
}   
